@media (max-width: 1368px) {
    .navmenu ul li a {
        font-size: 13pt;
    }
}
@media (max-width: 1312px) {
    .navmenu ul li a {
        font-size: 10pt;
    }
    #text {
        max-width: 60%;
        height: 175px;
        font-size: 15pt;
        text-align: justify;
        padding-top: 50px;
        margin: 40px auto;
    }
}
@media (max-width: 1159px) {
    .navmenu ul li a {
        font-size: 8pt;
    }
}
@media (max-width: 1138px) {
    .navmenu ul li {
        display: none;
    }
    #text {
        max-width: 60%;
        height: 175px;
        font-size: 11pt;
        text-align: justify;
        padding-top: 50px;
        margin: 40px auto;
    }
}
